{% extends 'orders/base.html' %}
{% load static %}
{% block css %}
<link href=" {% static '/css/orders.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="text-center mt-5">
            <h1>Заказ № {{ form.pk }}</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ form.product }}</th>
                        <td>{{ form.quantity }}</td>
                        <td>{{ form.price }}</td>
                        <td>360,00 руб.</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Ударная дрель ЗУБР ДУ-810
                        </th>
                        <td>1</td>
                        <td>3230,00 руб.</td>
                        <td>3230,00 руб.</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ form }}
                        </th>
                    </tr>
                    </tbody>
                </table>
                <p class="float-right h4 mt-3">Итого 7588,00 руб.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}